//imports of external CSS through CDN links
//  picocss
@import url('https://unpkg.com/@picocss/pico@latest/css/pico.min.css');
//  font-awesome
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

$white-bg-t: rgba(241, 241, 241, 0.263);
$white-bg-solid: rgb(241, 241, 241);

$black-bg-t: rgba(28, 28, 28, 0.263);
$black-bg-solid: rgb(28, 28, 28);

input,
textarea,
button,
select,
a {
-webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}

// global navigation bar
.mainav{
    padding:3%;
    background-color: $white-bg-t;
    position:static;
    backdrop-filter: blur(3px);
    position:fixed;
    width:100%;
    height:15%;
}

.prtfo-tit{
    align-items: right;
    justify-content: right;
    margin-top: auto;
    margin-bottom: auto;
}
.prtfo-tit:active{
    text-decoration: none;
}

// footer
#mainfoot {
    text-align: center;
}

// pico.css customization
[data-theme=light],
:root:not([data-theme=dark]) {
    --background-color: $white-bg-solid;

    .mainav{
        background-color: $black-bg-t;
    }
}

@media only screen and (prefers-color-scheme: dark) {
:root:not([data-theme=light]) {
    --background-color: $black-bg-solid;

    .mainav{
        background-color: $white-bg-t;
    }
}
}

// particles animation
#bg-prt{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.container{
    padding: 1%;
    padding-top: 20%;
}